{% extends 'layout.html' %} {% block content %}
<div class="timeline">
  <div class="followings half">
    <h2>팔로잉 목록</h2>
    {% if user.followingId_users %} {% for following in user.followingId_users
    %}
    <div>{{following.nick}}</div>
    {% endfor %} {% endif %}
  </div>
  <div class="followers half">
    <h2>팔로워 목록</h2>
    {% if user.followerId_users %} {% for follower in user.followerId_users %}
    <div>{{follower.nick}}</div>
    {% endfor %} {% endif %}
  </div>
</div>
{% endblock %}
